# Guided Project: Mobile App for Lottery Addiction

Focus on the 6/49 lottery and build functions that enable users to answer questions likein a mobile app.

As a result a couple of functions that are mostly focused on calculating probabilities.

factorial() — a function that calculates factorials
combinations() — a function that calculates combinations

In [1]:
def factorial(n):
    f=1
    for i in range(n, 0, -1):
        f *= i
    return(f)

def combinations(n,k):
    return factorial(n)/(factorial(k)*factorial(n-k))

one_ticket_probabilit is a function that calculates the probability of winning the big prize for any given ticket

In [2]:
def one_ticket_probability(numbers, max_numbers):
    permutation = combinations(len(numbers), max_numbers)
    probability = 1 / permutation
    print("The probability {} %".format(probability*100))

one_ticket_probability([1,2,3,4,5,6], 49)

The probability 8.44835922269816e+61 %

In [3]:
import pandas as pd

The national 6/49 lottery game in Canada.

In [4]:
Canada_lottery = pd.read_csv('649.csv')

In [5]:
Canada_lottery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
PRODUCT            3665 non-null int64
DRAW NUMBER        3665 non-null int64
SEQUENCE NUMBER    3665 non-null int64
DRAW DATE          3665 non-null object
NUMBER DRAWN 1     3665 non-null int64
NUMBER DRAWN 2     3665 non-null int64
NUMBER DRAWN 3     3665 non-null int64
NUMBER DRAWN 4     3665 non-null int64
NUMBER DRAWN 5     3665 non-null int64
NUMBER DRAWN 6     3665 non-null int64
BONUS NUMBER       3665 non-null int64
dtypes: int64(10), object(1)
memory usage: 315.0+ KB

In [6]:
Canada_lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [7]:
Canada_lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [8]:
Canada_lottery.iloc[0]['NUMBER DRAWN 1']

3

In [9]:
def extract_numbers(numbers_df):
    
    winners = [] 
    for index, row in numbers_df.iterrows():
        set_list=set()
        
        for i in range(1,7):
            number = 'NUMBER DRAWN {}'.format(i)
            set_list.add(row[number])
        winners.append(set_list)    
    return(winners)

Extracting all the winning numbers from the lottery data set.

In [10]:
test=extract_numbers(Canada_lottery)

Ceck_historical_occurrence function takes in the user numbers and the historical numbers and returns if they have been earlier there

In [11]:
def check_historical_occurence(user_numbers, winners):
    user_numbers_set = set(user_numbers)
    sum=0
    for i in winners:

        if i == user_numbers_set:
            sum = sum +1
    print('The numbers {} have ocured {} times'.format(user_numbers, sum))
    

check_historical_occurence([3, 12, 11, 14, 41, 43],test)

The numbers [3, 12, 11, 14, 41, 43] have ocured 1 times

In [ ]:
The multi_ticket_probability function takes in the number of tickets and prints probability information depending on the input.

In [18]:
def multi_ticket_probability(tickets):
    outcomes = combinations(49,6)
    success = tickets/outcomes
    print('{} ticket(s) gives {} % possibility in winning'.format(tickets, 100*success))
    
testing = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for i in testing:
    multi_ticket_probability(i)

1 ticket(s) gives 7.151123842018516e-06 % possibility in winning
10 ticket(s) gives 7.151123842018517e-05 % possibility in winning
100 ticket(s) gives 0.0007151123842018516 % possibility in winning
10000 ticket(s) gives 0.07151123842018516 % possibility in winning
1000000 ticket(s) gives 7.151123842018517 % possibility in winning
6991908 ticket(s) gives 50.0 % possibility in winning
13983816 ticket(s) gives 100.0 % possibility in winning

The probability_less_6 function calculates the probability that a player's ticket matches exactly the given number of winning numbers

In [47]:
def probability_less_6(right_numbers):
    number_combinations = combinations(6,right_numbers)
    
    combinations_tot = combinations(49-6, 6 - right_numbers)
    outcomes_tot = number_combinations * combinations_tot
    
    possibilitty = outcomes_tot/combinations(49,6)
    comp = combinations(49,6)/outcomes_tot
    
    print('Having {} right numbers gives has a possibility of {} % in winning.'.format(right_numbers, 100*possibilitty))
    print('It meanss one in {}'.format(round(comp)))

In [49]:
probability_less_6(4)

Having 4 right numbers gives has a possibility of 0.0968619724401408 % in winning.
It meanss one in 1032

No lottery for me!!!